:root {
  --primary-color: #2b2b2b;
  --secondary-color: #1a1e22;
  --font-color-1: #fff;
  --font-color-2: #000;
  --button-color: #fff; }

[data-theme="dark"] {
  --primary-color: #e9ecef;
  --secondary-color: #f8f9fa;
  --font-color-1: #000;
  --font-color-2: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border-radius: 0;
  font-family: "Courier New", monospace; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%; }

.container {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
  padding: 2rem;
  margin: 0 auto; }

ul, ol {
  list-style-type: none; }

a {
  text-decoration: none; }

.btn {
  border: none;
  outline: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
  background-color: var(--button-color);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.heading-1 {
  font-weight: 700;
  font-size: 3rem; }
  @media only screen and (max-width: 31.5em) {
    .heading-1 {
      font-size: 2em; } }

.heading-4 {
  font-weight: 700;
  font-size: 1.5rem; }

.text-info {
  font-size: 1.5rem;
  color: var(--font-color-1);
  margin-top: 2rem;
  line-height: 2rem; }
  @media only screen and (max-width: 31.5em) {
    .text-info {
      font-size: 1.2em; } }
  .text-info__link {
    text-decoration: none;
    color: var(--font-color-1);
    border-bottom: 1px solid var(--font-color-1); }

.nav {
  text-align: center; }
  .nav__links {
    display: flex;
    justify-content: space-between; }
  .nav__logout {
    display: flex;
    color: var(--font-color-1);
    font-size: 2rem;
    border: none;
    text-decoration: none;
    justify-content: flex-end; }

.github-search__icon {
  color: var(--font-color-1);
  font-size: 10rem;
  margin-bottom: 1rem; }

.github-search__input {
  max-width: 100%;
  border: none;
  outline: none;
  padding: 1.5rem 4rem;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }
  @media only screen and (max-width: 31.5em) {
    .github-search__input {
      max-width: 70%; } }

.github-profile {
  text-align: center;
  color: var(--font-color-1); }
  .github-profile__image {
    width: 15rem;
    padding: 1rem;
    border-radius: 100px;
    background-color: var(--font-color-1); }
  .github-profile__name {
    margin: 10px 0 0 0;
    margin-bottom: 0.5rem; }
  .github-profile__user-name {
    color: var(--font-color-1);
    font-weight: 400;
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .github-profile__social-links {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 31.5em) {
      .github-profile__social-links {
        flex-direction: column;
        margin-bottom: 0;
        font-size: 1.3em; }
        .github-profile__social-links li:not(:last-child) {
          margin-bottom: 0.5em; } }
    .github-profile__social-links--item {
      display: inline-block;
      padding: 0 3rem; }
      @media only screen and (max-width: 31.5em) {
        .github-profile__social-links--item {
          padding: 0; } }
  .github-profile__followers {
    display: flex;
    justify-content: center;
    font-size: 2rem; }
    @media only screen and (max-width: 31.5em) {
      .github-profile__followers {
        flex-direction: column;
        font-size: 1.3em; }
        .github-profile__followers li:not(:last-child) {
          margin-bottom: 0.5em; } }
    .github-profile__followers--item {
      padding: 0 2rem; }
      @media only screen and (max-width: 31.5em) {
        .github-profile__followers--item {
          padding: 0; } }
  @media only screen and (max-width: 31.5em) {
    .github-profile__info {
      display: flex;
      justify-content: space-around;
      text-align: left; } }

.github-repositories {
  max-width: 140rem;
  margin: 2rem auto;
  padding: 2rem; }
  .github-repositories__row {
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .github-repositories__card {
    background-color: var(--font-color-1);
    width: 30rem;
    border-radius: 5px;
    padding: 1rem;
    height: 15rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .github-repositories__card--name {
      color: var(--font-color-2);
      text-transform: uppercase; }
    .github-repositories__card--description {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.5rem;
      overflow: hidden;
      color: var(--font-color-2); }
  .github-repositories__icon {
    font-size: 1.5rem;
    color: var(--font-color-2); }
  .github-repositories__list--item {
    display: inline-block;
    padding: 0 2.5rem 0 0;
    font-size: 1.5rem;
    color: var(--font-color-2); }

.theme-switch-wrapper {
  display: flex;
  align-items: center; }

.theme-switch {
  display: inline-block;
  height: 2rem;
  position: relative;
  width: 4.5rem; }

.theme-switch input {
  display: none; }

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s; }

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 1.2rem;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 1.2rem; }

input:checked + .slider {
  background-color: #2b2b2b; }

input:checked + .slider:before {
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }
