:root {
    --primary-color: #2b2b2b;
    --secondary-color: #1a1e22;
    --font-color-1: #fff;
    --font-color-2: #000;
    --button-color: #fff;
}

[data-theme="dark"] {
    --primary-color: #e9ecef;
    --secondary-color: #f8f9fa;
    --font-color-1: #000;
    --font-color-2: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border-radius: 0;
    font-family: "Courier New", monospace;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // Makes 1rem = 10px -- 10px/16px = 62.5%
    height: 100%;
}

.container {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, var(--primary-color) , var(--secondary-color));
    padding: 2rem;
    margin: 0 auto;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}
