.btn {
    border: none;
    outline: none;
    padding: 1.5rem 3rem;
    cursor: pointer;
    background-color: var(--button-color);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.heading-1 {
    font-weight: 700;
    font-size: 3rem;

    @media only screen and (max-width: $bp-small) {
        font-size: 2em;
    }
}

.heading-4 {
    font-weight: 700;
    font-size: 1.5rem;
}

.text-info {
    font-size: 1.5rem;
    color: var(--font-color-1);
    margin-top: 2rem;
    line-height: 2rem;

    @media only screen and (max-width: $bp-small) {
        font-size: 1.2em;
    }

    &__link {
        text-decoration: none;
        color: var(--font-color-1);
        border-bottom: 1px solid var(--font-color-1);
    }
}
